<!-- DemoLink:https://funtomi.github.io/MyPlayPage/MyPages/Views/HomePage.html -->
<!DOCTYPE html>
<link href="../BootStrap/bootstrap-theme.css" rel="stylesheet" />
<link href="../BootStrap/bootstrap.css" rel="stylesheet" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>前端练习页</title>
    <style type="text/css">
        h1 {
            font-family: 'Microsoft YaHei';
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">我的前端演示页面</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">主页</a></li>
                        <li><a href="#">关于我</a></li>
                        <li><a href="#">联系我</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">下载页面</a></li>
                                <!--<li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">默认样式 <span class="sr-only">(current)</span></a></li>
                        <!--<li><a href="../navbar-static-top/">Static top</a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>欢迎浏览！</h1>
            <p>这里是本人对一些前端页面的练习记录，如果您感兴趣可以点击下面的按钮进行浏览!</p>
            <p>说明：页面使用的前端框架大多数为BootStrap。</p>
            <p>
                <a class="btn btn-lg btn-primary" href="Catalog.html" role="button">浏览页面 &raquo;</a>
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="https://funtomi.github.io/MyPlayPage/MyPages/Views/HomePage.html" role="button">在线预览&raquo;</a></p>
        </div>

    </div>
    
</body>
</html>
<script src="../BootStrap/jquery-2.1.1.min.js"></script>
<script src="../BootStrap/bootstrap.js"></script>
