<!DOCTYPE html>
<script src="../BootStrap/jquery-2.1.1.min.js"></script>
<link href="../BootStrap/bootstrap.css" rel="stylesheet" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2" lang="">name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Please enter name" lang="">
        </div>
        <div class="form-group">
            <button class="btn btn-default"  id="enBtn" lang="">ChangeLanguage</button>
            <button class="btn btn-default" type="button" id="zhBtn" lang="">ChangeLanguage</button>
            <div id="images"></div>
        </div>
    </form>
</body>
</html>
<script src="../BootStrap/bootstrap.js"></script>
<script src="../JavaScript/Language.js"></script>